<%- include ./layout%>
<%- include ./popup %>

<div width="1280px" height="720px">
        <div class="upload container" width="600px" height="600px" >
        <table style="background-color:#bdbbbb"  border="2">
          <tr>
            <td width="400px" height="50px" colspan="2" style="text-align:center"><a href="/home/layout-table/list-headers" id="header">Blloku 1 1920x127</a></td>
          </tr>
          <tr>
            <td width="200px" height="100px" style="text-align:center"><a href="/home/layout-table/list-video" >Blloku 2 1280x720</a></td>
            <td width="200px" height="100px" style="text-align:center"><a href="/home/layout-table/list-slide" >Blloku 3 640x720</a></td>
          </tr>
          <tr>
            <td width="400px" height="50px"colspan="2" style="text-align:center"><a href="/home/layout-table/list-table" >Blloku Tabel1920x233</a></td>
          </tr>
        </table>
      </div>

  
    