<%- include ./layout%>
<%- include ./popup-i %>
<div width="1280px" height="720px">
        <div class="upload container" width="600px" height="600px" >
        <table style="background-color:#bdbbbb"  border="2">
          <tr>
            <td width="400px" height="50px" colspan="2" style="text-align:center"><a href="/home/layout-image/list-headers-i" id="header">Blloku 1 1920x127</a></td>
          </tr>
          <tr>
            <td width="200px" height="100px" style="text-align:center"><a href="/home/layout-image/list-video-i" >Blloku 2 1280x720</a></td>
            <td width="200px" height="100px" style="text-align:center"><a href="/home/layout-image/list-slide-i" >Blloku 3 640x720</a></td>
          </tr>
          <tr>
            <td width="400px" height="50px"colspan="2" style="text-align:center"><a href="/home/layout-image/list-footer" >Blloku 4 1920x233</a></td>
          </tr>
        </table>
      </div>
    
      <%- include ../partials/footer%>