
<%-include ./layout-table%>


    <h1> Upload Header</h1>
    <form
    id="form"
      action='/uploadHeader' 
      method='post' 
      encType="multipart/form-data">
      <input type="file" id="file" name="myphoto" multiple/>
      
  </form>  
  <table>
    <tr>
        <% for(var i=0;i<images.length;i++){%>
        <% if(images[i].destination === './public/uploads/header/'){%>
            
        <td>
        <img src="/uploads/header/<%=images[i].filename%>" width="200" height="200">
        </td>
        <td><a href="/home/list-headers/remove/<%=images[i]._id%>" style="color:red">X</a></td>
   
        <%}}%>
    </tr>
</table> 
        <%- include ../partials/footer %>
        <script type="text/javascript">
          document.getElementById("file").onchange = function() {
          document.getElementById("form").submit();
          };
    </script>
