
<%- include ./list-layout%>

<div>
<div>
        <form
        id="form"
          action='/uploadVideo' 
          method='post' 
          encType="multipart/form-data">
          <input type="file" id="file" name="myphoto"  accept=".mp4"  multiple/>
      </form>  
      <table>
        <tr>
            <% for(var i=0;i<images.length;i++){%>
                <% if(images[i].destination === './public/uploads/video/'){%>
          <td>
              <video  width="300px" height="250px"  onended="" >
                  <source  src="/uploads/video/<%= images[i].filename%>" type="video/mp4">
                  </video>
                  <a href="/home/list-video/remove/<%=images[i]._id%>" style="color:red">X</a> 
          </td>
          <%}}%>
        </tr>
      
      </table>
</div>
</div>
  
         
         
        
        
       
  <footer><%- include ../partials/footer %></footer>
  <script type="text/javascript">
    document.getElementById("file").onchange = function() {
    document.getElementById("form").submit();
    };
</script>
 