
<%- include ./list-layout%>
<div>
<div>
        <form
        id="form"
          action='/uploadVideo' 
          method='post' 
          encType="multipart/form-data">
          <input type="file" id="file" name="myphoto"  accept=".mp4"  multiple/>
      </form>  
      <table>
        <tr>
            <% for(var i=0;i<lay.layouts.length;i++){%>
                <% for(var y=0;y<lay.layouts[i].block.length;y++){%>
                  <% if(lay.layouts[i].block[y].name === 'video'){%>
                    <%for(var z=0;z<lay.layouts[i].block[y].output.length;z++){%>
          <td>
                  <video  width="300px" height="250px" controls >
                  <source  src="<%=lay.layouts[i].block[y].output[z].images%>" type="video/mp4" >
                  </video>
                  <a href="/home/list-video/remove/<%=images[i]._id%>" style="color:red">X</a> 
          </td>
          <% }} }}%>
        </tr>                           
      </table>               
</div>
</div>
 <footer><%- include ../partials/footer %></footer>
  <script type="text/javascript">
    document.getElementById("file").onchange = function() {
    document.getElementById("form").submit();
    };
</script>
 