<%- include ./layout%>
    <h1>Upload Slide</h1>
    <form
    id="form"
      action='/uploadSlide' 
      method='post' 
      encType="multipart/form-data">
      <input type="file" id="file" name="myphoto"  placeholder="Ngarkoni Foton"  multiple/>
      
  </form>
  <table>
        <tr>
            <% for(var i=0;i<images.length;i++){%>
            <% if(images[i].destination === './public/uploads/slide/'){%>
                
            <td>
            <img src="/uploads/slide/<%=images[i].filename%>" width="200" height="200">
            </td>
            <td><a href="/home/list-slide/remove/<%=images[i]._id%>" style="color:red">X</a></td>
       
            <%}}%>
        </tr>
  </table>  
  
       
        
  <footer><%- include ../partials/footer %></footer>
  <script type="text/javascript">
    document.getElementById("file").onchange = function() {
    document.getElementById("form").submit();
    };
</script>