
<%- include ./list-layout%>
    <form
    id="form"
      action='/uploadSlide' 
      method='post' 
      encType="multipart/form-data">
      <input type="file" id="file" name="myphoto"  placeholder="Ngarkoni Foton"  multiple/>
      
  </form>
  <table>
        <tr>
            <% for(var i=0;i<lay.layouts.length;i++){%>
                <% for(var y=0;y<lay.layouts[i].block.length;y++){%>
                  <% if(lay.layouts[i].block[y].name === 'slide'){%>
                    <%for(var z=0;z<lay.layouts[i].block[y].output.length;z++){%>
                    <td>
                        <img src="<%=lay.layouts[i].block[y].output[z].images%>" width="200" height="200"/>
                        </td>
                        <td><a href="/home/list-headers/remove/<%=images[i]._id%>" style="color:red">X</a></td>
    
                 <% }} }}%>
        </tr>
        </table> 
  
       
        
  <footer><%- include ../partials/footer %></footer>
  <script type="text/javascript">
    document.getElementById("file").onchange = function() {
    document.getElementById("form").submit();
    };
</script>