<html>
  <head>
      <%- include partials/head %>
  </head>
  <body>
    <header><%- include partials/header %></header>  
    
    <h1>File Upload</h1>
    <form
      action='/upload' 
      method='post' 
      encType="multipart/form-data">
      <input type="radio"  name="radio" value="0">Header<br>
      <input type="radio"  name="radio" value="1">Slide<br>
      <input type="radio"  name="radio" value="2">Video
      <input type="file" name="myphoto" multiple/>
      <input type='submit' value='Upload!' />
  </form>  
  <footer><%- include partials/footer %></footer>
  </body>
</html>